* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
del {
    text-decoration: line-through;
}
::-webkit-scrollbar {
    display: none;
}
body {
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
    font-size: 17px;
    background: #2e2e35;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 500;
    color: #dadada;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer, Edge */
}
input,
textarea,
select {
    font-family: "open_sansregular", Arial, Helvetica, sans-serif;
    font-weight: 500;
}

a {
    color: #dadada;
}

.submit:hover {
    filter: alpha(opacity = 85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}
.thumb {
    display: block;
}
.thumb img {
    display: block;
    width: 100%;
}
p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: "open_sansregular", Arial;
    font-weight: 500;
    color: #dadada;
}
.hidden {
    display: none;
}
br.clear {
    clear: both;
    line-height: 0;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
.border-bottom {
    border-bottom: 3px solid #e4aa48;
    color: #e4aa48 !important;
}
@font-face {
    font-family: "open_sanslight";
    src: url("../fonts/opensans-light-webfont.woff2") format("woff2"),
        url("../fonts/opensans-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "open_sansregular";
    src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
        url("../fonts/opensans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "open_sanssemibold";
    src: url("../fonts/opensans-semibold-webfont.woff2") format("woff2"),
        url("../fonts/opensans-semibold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

header div.contents {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header div.contents div.logo {
    font-family: "open_sanssemibold";
}
header div.contents div.logo h1 span.dev {
    color: #e4aa48;
}

header div.contents div.nav-bar {
    font-family: "open_sanssemibold";
    font-size: 18px;
}
header div.contents div.nav-bar a {
    margin-right: 10px;
}
header div.contents div.nav-bar a:hover {
    color: #e4aa48;
}
header div.contents div.nav-bar a:last-child {
    margin-right: 0;
}

#home {
    padding: 120px 0;
}

#home div.dynamic-text {
    display: inline-flex;
}

#home div.dynamic-text h2 {
    position: relative;
}

#home div.dynamic-text h2::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #2e2e35;
    border-left: 1px solid #dadada;
    left: 0;
    animation: typing 2s steps(6) infinite;
}
@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
#home div.content {
    display: flex;
    justify-content: space-between;
    position: relative;
}
#home div.content div.left {
    max-width: 300px;
    margin-top: 100px;
}
#home div.content div.left h2 {
    font-family: "open_sanssemibold";
    font-size: 40px;
    margin-bottom: 18px;
}
#home div.content div.left h2 span {
    color: #e4aa48;
    font-size: 50px;
}
#home div.content div.line {
    border: 2px solid #e4aa48;
    width: 30%;
    border-radius: 5px;
    margin-bottom: 15px;
}
#home div.content div.social {
    font-family: "open_sanssemibold";
    margin-bottom: 60px;
}
#home div.content div.social a:hover {
    color: #e4aa48;
}
#home div.content div.button {
    font-family: "open_sanssemibold";
    color: #e4aa48;
}
#home div.content div.button a {
    color: #e4aa48;
    font-size: 20px;
    padding: 20px;
    display: inline-block;
    border: 1px solid #e4aa48;
}
#home div.image {
    width: 300px;
    position: absolute;
    right: 50%;
    bottom: 0;
}
#home div.image img {
    width: 100%;
    display: block;
    mix-blend-mode: luminosity; /* Adjust the mix-blend-mode as needed */
    background-color: #2e2e35;
}
#home div.content div.right {
    max-width: 500px;
    margin-top: 100px;
}
#home div.content div.right h5.subtitle {
    text-transform: uppercase;
    font-size: 16px;
    font-family: "open_sanssemibold";
    color: #e4aa48;
    margin-bottom: 10px;
}
#home div.content div.right .heading {
    font-size: 35px;
    font-family: "open_sanssemibold";
    max-width: 300px;
    margin-bottom: 10px;
}

#home div.content div.right .description {
    font-size: 16px;
    margin-bottom: 30px;
}
#home div.content div.right span.button {
    color: #e4aa48;
    display: inline-block;
    position: relative;
}
#home div.content div.right span.button:hover {
    border-bottom: 1px solid #e4aa48;
}

#home div.content div.right a.button {
    font-size: 18;
    display: inline-block;
    padding: 16px 0;
    font-family: "open_sanssemibold";
    color: #e4aa48;
    margin-right: 5px;
}

#home div.content div.right span.svg {
    position: absolute;
    top: 13px;
}

#service {
    background: #34343b;
    padding: 120px 0;
}

#service div.container {
}
#service div.container div.top {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}
#service div.container div.top h3 {
    color: #e4aa48;
    font-family: "open_sanssemibold";
    margin-bottom: 16px;
    font-size: 24px;
}
#service div.container div.top h2 {
    font-family: "open_sanssemibold";
    margin-bottom: 16px;
    font-size: 28px;
}
#service div.container div.top p {
    margin-bottom: 50px;
}
#service div.container div.bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#service div.container div.bottom div.item {
    text-align: center;
    background-color: #2e2e35;
    padding: 16px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#service div.container div.bottom div.item:hover {
    color: #e4aa48;
}
#service div.container div.bottom div.item:hover img.white {
    display: none;
}
#service div.container div.bottom div.item div.icon {
    width: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
}
#service div.container div.bottom div.item div.icon img {
    display: block;
    width: 100%;
}
#service div.container div.bottom div.item div.icon img.white {
    position: absolute;
}
#service div.container div.bottom div.item h4 {
    font-size: 20px;
    font-family: "open_sanssemibold";
}
#experience {
    padding: 120px 0;
}
#experience .top {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}
#experience .top h3 {
    color: #e4aa48;
    font-family: "open_sanssemibold";
    font-size: 24px;
    margin-bottom: 18px;
}
#experience .top h2 {
    font-family: "open_sanssemibold";
    margin-bottom: 18px;
    font-size: 28px;
}
#experience .top p {
    margin-bottom: 50px;
}
#experience .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
#experience .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
#experience .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
#experience .container::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #34343b;
    border: 4px solid #e4aa48;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
#experience .left {
    left: 0;
}

/* Place the container to the right */
#experience .right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
#experience .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
#experience .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
#experience .right::after {
    left: -16px;
}

/* The actual content */
#experience .content {
    padding: 20px 30px;
    background-color: #34343b;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    #experience .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    #experience .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    #experience .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    #experience .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    #experience .right {
        left: 0%;
    }
}

#projects {
    padding: 120px 0;
    background: #34343b;
}
#projects .top {
    text-align: center;
    max-width: 500px;
    margin: 0 auto 50px auto;
}
#projects .top h3 {
    color: #e4aa48;
    font-family: "open_sanssemibold";
    font-size: 24px;
    margin-bottom: 18px;
}
#projects .top h2 {
    font-family: "open_sanssemibold";
    margin-bottom: 18px;
    font-size: 28px;
}
#projects .top p {
    margin-bottom: 50px;
}
#projects .top .buttons {
    display: flex;
    gap: 16px;
}
#projects .top .buttons button {
    font-size: 20px;
    font-family: "open_sanssemibold";
    display: inline-block;
    color: #dadada;
    padding-bottom: 10px;
}
#projects .top .buttons button:hover {
    color: #e4aa48;
}

#projects div.project-cards {
    display: flex;
    justify-content: space-between;
}

#projects div.project-cards div.project-card {
    width: 30%;
    text-align: center;
    background: #2e2e35;
    padding: 22px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #2e2e35;
}
#projects div.project-card div.image {
    margin-bottom: 10px;
}
#projects div.project-card div.image img {
    width: 100%;
    display: block;
}

#projects div.description {
    margin-bottom: 10px;
}

#projects div.description h5 {
    margin-bottom: 10px;
    font-family: "open_sanssemibold";
    font-size: 18px;
}
#projects a.button {
    display: inline-block;
    padding: 20px;
    color: #e4aa48;
    border: 1px solid #e4aa48;
    border-radius: 5px;
}

#contact {
    padding: 80px 0;
}
#contact h3 {
    color: #e4aa48;
    font-family: "open_sanssemibold";
    margin-bottom: 10px;
    font-size: 28px;
}

div.top p {
    font-size: 15px;
    font-family: "open_sanssemibold";
    margin-bottom: 10px;
}

#contact form {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}

#contact div.form-contents {
    text-align: center;
}

#contact div.form-inputs {
    display: flex;
    flex-direction: column;
}
#contact div.form-inputs input,
textarea {
    padding: 20px;
    background: #dadada;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
}

#contact form button {
    font-size: 20px;
    color: #e4aa48;
    font-family: "open_sanssemibold";
    padding: 15px;
    border: 1px solid #e4aa48;
    border-radius: 5px;
}

footer {
    padding: 60px 0;
    background: #34343b;
    text-align: center;
}

footer small {
    display: inline-block;
    margin-bottom: 10px;
}
footer div.buttons a {
    margin-right: 15px;
}
footer div.buttons a:nth-child(1):hover {
    color: #1769aa;
}
footer div.buttons a:nth-child(2):hover {
    color: #f58529;
}
footer div.buttons a:nth-child(3):hover {
    color: #e4aa48;
}
.slick-prev {
    left: 0;
    z-index: 10; /* Adjust the left position as needed */
}

.slick-next {
    right: 0; /* Adjust the right position as needed */
    z-index: 10;
}

/* CSS to style the arrows (optional) */
.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-family: "open_sanssemibold";
    font-size: 18px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
